<launch>
  <group ns="tb3_0">
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="multi_robot_name" value="tb3_0"/>
    </include>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping.launch">
      <arg name="set_base_frame" value="tb3_0/base_footprint"/>
      <arg name="set_odom_frame" value="tb3_0/odom"/>
      <arg name="set_map_frame" value="tb3_0/map"/>
    </include>
    <node name="tb3_0_pf" pkg="RSS_Gemini" type="pf.py"/>
    <node name="tb3_0_teleop" pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" output="screen" launch-prefix="gnome-terminal --command"/>
  </group>
  <group ns="tb3_1">
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="multi_robot_name" value="tb3_1"/>
    </include>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping.launch">
      <arg name="set_base_frame" value="tb3_1/base_footprint"/>
      <arg name="set_odom_frame" value="tb3_1/odom"/>
      <arg name="set_map_frame" value="tb3_1/map"/>
    </include>
    <node name="tb3_1_teleop" pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" output="screen" launch-prefix="gnome-terminal --command"/>
  </group>
   <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value="tb3"/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="false"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="world_to_tb3_0_tf_broadcaster"  args="0 0 0 0 0 0 /map /tb3_0/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_tb3_1_tf_broadcaster" args="0 0 0 0 0 0 /map /tb3_1/map 100"/>
</launch>
